@charset 'utf-8';

@font-face {
  font-family: "BrandonGrotesque-Black";
  src: url(./fonts/BrandonGrotesque-Black.otf);
}

@font-face {
  font-family: "Alice-Regular";
  src: url(./fonts/Alice-Regular.ttf);
}

body {
  font-family: "Alice-Regular", sans-serif;
  width: 76%;
  margin: 0 auto;
}

main,
p,
ul,
li,
a,
h1,
h2 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#company {
  letter-spacing: 0.6px;
  margin-top: 104px;
}

#mail {
  letter-spacing: 0.6px;
  margin-top: 104px;
}

h2 {
  font-size: 13px;
  font-weight: 400;
}

#company > dl {
  font-size: 11px;
  margin-top: 40px;
  line-height: 24px;
}

#company dl:after {
  content: "";
  clear: both;
  display: block;
}

#company > dl > dt {
  float: left;
  width: 10%;
  margin: 0 0 0 0;
}

#company > dl > dd {
  margin: 0 0 0 10%;
}

#company::after {
  content: "";
  display: block;
  clear: both;
}

#title h1 {
  font-family: "BrandonGrotesque-Black", sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 4px;
}

.navi {
  font-size: 15px;
  letter-spacing: 0.6px;
  text-align: right;
}

.navi > ul {
  display: flex;
  line-height: 42px;
}

.navi > ul > li > a {
  display: inline-block;
}

.navi > ul li:last-child {
  margin-left: 10px;
}

.work {
  letter-spacing: 0.6px;
  display: flex;
  width: 100%;
}

.work-file {
  text-align: left;
  margin-top: 104px;
  width: 34%;
  font-size: 11px;
}

.work-file__name {
  font-size: 10px;
  line-height: 18px;
  font-weight: 600;
  font-style: italic;
}

.work-file__title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 16px;
}

.work-file__part {
  font-weight: 600;
  margin-top: 46px;
}

.work-file__client {
  font-weight: 200;
  margin-top: 140px;
}

.work-file__year {
  font-weight: 200;
  margin-top: 10px;
}

.work-img {
  margin-top: 64px;
  width: 66%;
}

.work-img > a > img {
  width: 100%;
  margin-left: 12%;
}

#mail::after {
  content: "";
  display: block;
  padding-bottom: 16%;
}

footer {
  font-family: "Alice-Regular", sans-serif;
  font-size: 11px;
  letter-spacing: 0.6px;
  margin-top: 210px;
  margin-bottom: 30px;
}
main {
  margin: 50px auto;
}
main article section {
  margin-bottom: 40px;
}
main article section figure {
  margin: 0;
}
main article section figure img {
  width: 100%;
  object-fit: cover;
}
main article section figure .cursor {
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
main article section figure .cursor.prev {
  background: url("./images/prev.png") no-repeat center/80%;
}
main article section figure .cursor.next {
  background: url("./images/next.png") no-repeat center/80%;
}
main article section h2 {
  font-size: 18px;
  text-align: right;
  margin-bottom: 12px;
}
main article section span {
  display: block;
  font-size: 14px;
  text-align: right;
  margin-bottom: 30px;
}
main article section dl {
  font-size: 12px;
  display: flex;
}
main article section dl dt {
  flex-basis: 20%;
}
main article section dl dd {
  flex-basis: 80%;
}

@media screen and (max-width: 414px) {
  #title {
    font-size: 8px;
    width: 70%;
  }

  .navi {
    font-size: 15px;
  }

  .navi > ul {
    line-height: 64px;
  }

  .work-file__title {
    margin-top: 3px;
  }

  .work-file__part {
    margin-top: 14px;
  }

  .work-file__client {
    margin-top: 40px;
  }

  .work-img {
    margin-top: 104px;
  }

  #company {
    margin-top: 64px;
  }

  #company > dl {
    margin-top: 20px;
  }

  #company > dl > dt {
    width: 30%;
  }

  #company > dl > dd {
    margin: 0 0 0 30%;
  }

  #mail::after {
    content: "";
    display: block;
    padding-bottom: 130px;
  }

  footer {
    margin-top: 180px;
    margin-bottom: 40px;
  }
}